
{% extends "layouts/painel.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}painel de funcionarios{% endblock %}

{% block principal %}
<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="{% url 'painel' %}">painel de  controle</a>
							</li>
							<li class="active">gestao de turmas</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								Turmas disponeis
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									lista das turmas disponiveis
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-primary" style="margin-bottom: 20px;" >Cadastrar turma <i class="fa fa-plus"></i></button>
								
                               
                                
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Cadastrar turmas</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'cadastrturma' %}" method="post">
											{% csrf_token %}
											{{ form|bootstrap  }}

											<div class="form-group">
												<input type="submit" class="btn btn-primary" value="Cadastrar turma" />
											</div>
										</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div>
									<!-- turmas em disposicao -->
									<div class="row">
									{% for turma in turmas %}
										<div class="col-md-4 col-sm-4">
										  
											<div class="thumbnail">
												<img src="{% static 'img/log.png' %}" />
												<div class="caption">
													<h3>Sala: {{ turma.get_turma }}</h3>
													<h3>Nivel: {{ turma.get_nivel }}</h3>
													 <p>Curso: <span class="badge">{{ turma.curso }}</span></p>
													 <p>Periodo: <span class="badge">
													 	{% if turma.periodo == 'N' %}
														  Noite
														{% endif %}
														{% if turma.periodo == 'M' %}
															Manha
														{% endif %}
														{% if turma.periodo == 'T' %}
															Manha
														{% endif %}
													 </span></p>
													 <p>Responsavel: <span class="badge badge-success">{{ turma.responsavel }}</span></p>
													  <a href="{% url 'turmavisual' turma.id %}" class="btn btn-danger"><span class="fa fa-eye"></span> visualizar</a>
												</div>
											</div>
											
										</div>
										{% endfor %}
										
									</div><!-- ./ row -->

								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
	</div><!-- /.main-content -->
{% endblock %}
