{% extends "layouts/painel.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{{ request.user.username }} - {% trans "Propinas" %}{% endblock %}

{% load staticfiles %}

{% block principal %}
<div class="main-content">
      <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
          <ul class="breadcrumb">
            <li>
              <i class="ace-icon fa fa-home home-icon"></i>
              <a href="{% url 'painel' %}">{% trans "Inicio" %}</a>
            </li>
            <li>
              <a href="{% url 'turmas' %}">{% trans "Pagina unica da turma" %}</a>
            </li>

            <li>
              <a href="#">{% trans "Pagina unica da turma" %}</a>
            </li>
            <li class="active">{{ turma.nome }}</li>
          </ul><!-- /.breadcrumb -->

          
        </div>

        <div class="page-content">

          <div class="page-header">
            <h1>
              Pagina unica da turma
              <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                 {{ turma.nome }}
              </small>
            </h1>
          </div><!-- /.page-header -->

          <div class="row">
            <div class="col-xs-12">
             {% include 'includes/mensagens.html' %}
              <!-- PAGE CONTENT BEGINS -->
              <div class="clearfix">
                
              </div>


              <div>
                <div id="user-profile-1" class="user-profile row">
                  <div class="col-xs-12 col-sm-3 center">
                    <div>
                      <span class="profile-picture">
                        <img id="avatar" class="editable img-responsive" alt="{{ estudante.username }}" width="180" height="200" src="{% static 'img/log.png' %}" />
                      </span>

                      <div class="space-4"></div>

                      <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                        <div class="inline position-relative">
                          <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                            <i class="ace-icon fa fa-circle light-green"></i>
                            &nbsp;
                            <span class="white">Turma: {{ turma.nome }}</span>
                            
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="profile-contact-info">
                      <div class="profile-contact-links align-left">
                        <span>Responsavel: </span>
                      </div>

                      <div class="space-6"></div>
                    </div>

                    <div class="hr hr12 dotted"></div>
                  </div>

                  <div class="col-xs-12 col-sm-9">

                    <div class="space-12">
                    </div>
                    
                    <div class="space-20"></div>

                    <div class="widget-box transparent">
                      <div class="widget-header widget-header-small">

                        <form action="{% url 'turmacadastraestudante' %}" method="post">
												{% csrf_token %}
												<div class="form-group">
                          <label>NOME DO ESTUDANTE</label>
													<input type="text" name="nome" class="form-control" placeholder="Nome do estudante" />
												</div>
												<div class="form-group">
                        <label>TURMA</label>
														<input type="text" value="{{ turma.nome }}" class="form-control" placeholder="Nome do estudante" />
                            <input type="hidden" name="turma" value="{{ turma.id }}" />
                      	</div>
                        <div class="form-group">
                        <label>CURSO E PERIODO</label>
														<input type="text" value="{{ turma.get_curso }} | {{ turma.get_periodo }}" class="form-control" disable="true">
												</div>
												<div class="form-group">
													<input type="submit" class="btn btn-primary" value="Cadastrar estudante na turma {{ turma.nome }}" />
												</div>
											</form>

                        <div style="margin-bottom: 10px;"></div>
                        <h4 class="widget-title blue smaller">
                          <i class="ace-icon fa fa-users"></i>
                          {% trans "Lista de estudantes da turma " %} ({{ turma.nome }} ) ano lectivo: {{ turma.get_ano }}
                        </h4>
                        

                        <div class="widget-toolbar action-buttons">
                          <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh blue"></i>
                          </a>
                            &nbsp;
                          <a href="#" class="pink">
                            <i class="ace-icon fa fa-trash-o"></i>
                          </a>
                        </div>
                      </div>

                      <div class="widget-body">
                        <div class="widget-main padding-8">
                          {% if estudantes %}
                          {% for estudante in estudantes %}
                            <div id="profile-feed-1" class="profile-feed">
                            <div class="profile-activity clearfix">
                              <div>
                                Estudante:
                                <a class="user" href=""> {{ estudante.peril }} </a>
                                <div class="time">
                                  <i class="ace-icon fa fa-clock bigger-110"></i>
                                  Numero de matricula: {{ estudante.id }} | Prestações de propinas: {{ estudante.get_prestacoes }}
                                </div>
                                

                              </div>


                              <div class="tools action-buttons">
                                <a href="/painel/estudantes/visualizar/{{ estudante.id }}" class="blue">
                                  <i class="ace-icon fa fa-edit bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                  <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% else %}
                            <h3>Ainda nao pagou nenhuma propina</h3>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="center">
                    </div>
                  </div>
                </div>
              </div>
          </div><!-- /.well -->


                  </div><!-- /.span -->
                </div><!-- /.user-profile -->
              </div>

              <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.page-content -->
      </div>
{% endblock %}
