
{% extends "layouts/painel.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}painel de funcionarios{% endblock %}

{% block head %}

 <link rel="stylesheet" href="{% static 'css/estudantes.css' %}">
{% endblock %}

{% block principal %}

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="{% url 'painel' %}">Painel</a>
							</li>

							<li>
								<a href="#">Pagamentos</a>
							</li>
							<li class="active">Blank Page</li>
						</ul><!-- /.breadcrumb -->


					<div class="page-content">

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								{% include "includes/mensagens.html" %}
               					 <form class="form-horizontal" action="{% url 'pagarpropina' estudante.id %}" method="POST" role="form">
									
									{% csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label " for="form-field-1"> Estudante </label>

										<div class="col-sm-9">
											<input type="text" name="estudante" value="{{ estudante.get_estudante }}" placeholder="Estudante" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Ano Lectivo</label>

										<div class="col-sm-9">
										
											<select   class="col-xs-10 col-sm-5" name="ano" required>
											    <option value="">---- Selecionar ano Lectivo</option>
												{% for cada in ano %}
												   <option value="{{ cada.id }}">{{ cada.ano }}</option>
												{% endfor %}
											</select>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Prestações </label>

										<div class="col-sm-9">
											<input type="number" id="form-field-2" name="prestacao" placeholder=" ex: 2 ( Prestações )" class="col-xs-10 col-sm-5" required />
										
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Mês</label>

										<div class="col-sm-9">
										
											<select   class="col-xs-10 col-sm-5" name="mes" required>
											    <option value="">---- Selecionar Mes do pagamento ---</option>
												{% for cada in mes %}
												   <option value="{{ cada.id }}">{{ cada.mes }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-9">
										
											<input type="submit" value="Cadastrar" style="margin-left: 32%; margin-bottom: 20px;" class="btn btn-primary" />
										</div>
									</div>
                               </form> 
                                <div class="clearfix"></div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

{% endblock %}