
{% extends "layouts/painel.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}painel de funcionarios{% endblock %}

{% block principal %}
<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="{% url 'painel' %}">painel de  controle</a>
							</li>
							<li class="active">gestao de disciplinas</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								Disciplina disponel
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									lista das disciplinas
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
                             {% include 'includes/mensagens.html' %}
								<!-- PAGE CONTENT BEGINS -->
                                <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-primary" style="margin-bottom: 20px;" >Cadastrar turma <i class="fa fa-plus"></i></button>
								
                               
                                
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Cadastrar disciplina</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'cadastrardisciplina' %}" method="post">
											{% csrf_token %}
											{{ form|bootstrap  }}

											<div class="form-group">
												<input type="submit" class="btn btn-primary" value="Cadastrar disciplina" />
											</div>
										</div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div>
									<!-- turmas em disposicao -->
									
                                     <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_content">
                                                <table id="datatable-buttons" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Disciplina</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Disciplina</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </tfoot>
                                  <tbody>
                                  {% for disciplina in disciplinas %}
                                        <tr>
                                        <td>{{ disciplina.nome }}</td>
                                        <td>
                                            <a href="" class="btn btn-info btn-xs"><i class="fa fa-pencil" title="Edit"></i> </a>
                                            <a href="" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" title="Delete"></i> </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
	</div><!-- /.main-content -->
{% endblock %}
